# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
total_ride_city=pyber_data_df.groupby(['type']).count()['ride_id']
total_ride_city

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
#  1. Get the total rides for each city type
#total urban rides
urban_cities_df = pyber_data_df[pyber_data_df["type"]=="Urban"]
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
urban_ride_count.sum()

1625

In [5]:
#total suburban rides
suburban_cities_df = pyber_data_df[pyber_data_df["type"]=="Suburban"]
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
suburban_ride_count.sum()

625

In [6]:
#total rural rides
rural_cities_df = pyber_data_df[pyber_data_df["type"]=="Rural"]
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
rural_ride_count.sum()

125

In [7]:
# 2. Get the total drivers for each city type
driver_count = city_data_df.groupby(["type"]).sum()["driver_count"]
driver_count

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [8]:
urban_driver_count = urban_cities_df.groupby(["type"]).sum()["driver_count"]
urban_driver_count.sum()

59602

In [9]:
suburban_driver_count = suburban_cities_df.groupby(["type"]).sum()["driver_count"]
suburban_driver_count.sum()

8570

In [10]:
rural_driver_count = rural_cities_df.groupby(["type"]).sum()["driver_count"]
rural_driver_count.sum()

537

In [11]:
#  3. Get the total amount of fares for each city type
total_fares = pyber_data_df.groupby(["type"]).sum() ["fare"]
total_fares

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [12]:
urban_fares = urban_cities_df["fare"].sum()
urban_fares

39854.380000000005

In [13]:
suburban_fares = suburban_cities_df["fare"].sum()
suburban_fares

19356.33

In [14]:
rural_fares = rural_cities_df["fare"].sum()
rural_fares

4327.929999999999

In [15]:
#  4. Get the average fare per ride for each city type. 

average_fare = pyber_data_df.groupby(["type"]).mean() ["fare"]
average_fare

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
Name: fare, dtype: float64

In [16]:
urban_fares = urban_cities_df["fare"]
urban_fares.mean()

24.52577230769236

In [17]:
suburban_fares = suburban_cities_df["fare"]
suburban_fares.mean()

30.97012800000002

In [18]:
rural_fares = rural_cities_df["fare"]
rural_fares.mean()

34.623440000000016

In [19]:
# 5. Get the average fare per driver for each city type. 
#Average fare for urban
average_fare_per_driver = total_fares / driver_count
average_fare_per_driver

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [20]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = {"Total Rides":(total_ride_city),
                    "Total Drivers": (driver_count),
                    "Total Fares": (total_fares),
                    "Average Fare per Ride": (average_fare),
                    "Average Fare per Driver": (average_fare_per_driver)}
pyber_summary_df2 = pd.DataFrame(pyber_summary_df)
pyber_summary_df2

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [21]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df2.index.name = None

In [22]:
#  8. Format the columns.
pyber_summary_df2.style.format({"Total Rides":"{:,}",
                    "Total Drivers": "{:,}" ,
                    "Total Fares": "${0:,.2f}",
                    "Average Fare per Ride": "${0:,.2f}",
                    "Average Fare per Driver": "${0:,.2f}"})

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [23]:
# 1. Read the merged DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [38]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
new_df = {"Fares": (total_fares)}
new_df2 = pd.DataFrame(new_df)

new_df2.set_index = ["date", "type"]
new_df2

             Fares
type
Rural      4327.93
Suburban  19356.33
Urban     39854.38

In [25]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [26]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [27]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [28]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [29]:
# 7. Check that the datatype for the index is datetime using df.info()

In [30]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [31]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')